---
import { awards } from "../../data/awards";
import SectionHeading from "../ui/SectionHeading.astro";
import GlowAwardCard from "../react/GlowAwardCard";
---

<section id="awards" class="section bg-dark-surface/30">
  <div class="container-lg">
    <SectionHeading
      number="04."
      title="Awards & Achievements"
    />

    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
      {awards.map((award) => (
        <GlowAwardCard award={award} client:load />
      ))}
    </div>
  </div>
</section>
